body{
    font-family: 'Roboto', sans-serif;;
    text-decoration: none;
}

.flex{
    display: flex;
}

/* header section */
header{
    display: flex;
    justify-content: space-evenly;
    background-color: #2874f0;
    width: 100%;
    height: 56px;
}

.header-left{
    width: 20%;
    text-align: right;
    cursor: pointer;
    justify-content: flex-end;
    margin-top: 5px;
}

.header-left a img{
    width: 100px;
    margin-top: 3px;
}

.header-left p a{
    color: white;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-style: italic;
}
.header-left p span{
   color: yellow;
   font-size: 13px;
   margin-right: 2px;
   letter-spacing: 1.5px;
   font-style: italic;
   font-weight: bold;
}
.header-left p:hover{
    text-decoration: underline;
    color: white;
}

.search_bar_container{
    min-width: 304px;
    width: 708px;
    margin-top: 10px;
}

.search_bar{
    max-width: 564px;
    width: 100%;
    margin-right: 10px;
    box-shadow: 0px 2px 4px 0 rgb(0 0 0 /23%);
}

.search_box{
    outline: none;
    padding: 0px 16px;
    height: 36px;
    border-radius: 2px 0px 0px 2px;
    border: 0;
    width: 100%;
    font-size: 14px;
}
.btn_search{
    background: #fff;
    border: 1px solid #fff;
    padding: 4px 12px 4px 8px;
    width: 44px;
    height: 36px;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    color: #2874F0;
    font-size: 19PX;
}

.header-right{
    width: 40%;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    text-transform: capitalize;
    line-height: 50px;
}

.header-right a{
    text-decoration: none;
    color: white;
    margin: 0px 25px;
    font-size: 17px;
    font-weight: bold;
}

.header-right .active{
    background-color: white;
    color: #2874F0;
    padding: 5px 30px;
    height: 35px;
    width: 130px;
    line-height: 23px;
    margin-top: 8px;
    border-radius: 2px;
    text-align: center;
    display: block;
}

.login_dropdown , .more_dropdown{
    position: relative;
    top: 12px;
}

.more_dropdown{
    right: 40px;
}

.login_dropdown_list , .more_dropdown_list{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    width: max-content;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 /20%);
    min-width: 240px;
    transform: translate(-30px);
}

.login_drop_li , .more_drop_li{
    padding: 16px 20px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    cursor: pointer;
}


.login_drop_li:last-child , .more_drop_li:last-child{
    border-bottom: none;
}

.login_drop_li:first-child{
    padding: 20px;
}

.login_drop_li:first-child:hover{
    background: #fff;
}

.login_drop_li:hover, .more_drop_li:hover{
    background: #fafafa;
}

.new_login{
    font-weight: bold;
}

.sign_li{
    justify-content: space-between;
    font-size: 14px;
}

.login_drop_li a{
    text-decoration: none;
    color: #2874f0;
    font-size: 14px;
}



.more_icon{
    width: 25px;
    color: #2874f1;
}

.login:hover .login_dropdown_list , .more:hover .more_dropdown_list{
    display: block;
}

.glyphicon-chevron-down{
    size: 0cm;
}

.fa-shopping-cart{
    padding-right: 10px;

}

/*---category section---*/

.category-row{
    display: flex;
    justify-content: center;
    width:100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
    background: #fff;
    border-bottom: 2px solid lightgrey;
}

.category-col{
    padding: 10px 40px;
    cursor: pointer;
    color: rgb(85,83,83);
    justify-content: space-evenly;   
}

.category-col img{
    width: 64px;
    height: 64px;
}
.category-col h5{
    font-weight: bold;
}
.category-col h5:hover{
    color: #2874f0;
}

/*--deal of the day--*/

.card_1{
    float: left;
    box-shadow: rgb(177,174,174) 0px 0px 5px 1px;
    padding: 10px 0px;
    margin: 10px 5px;
    border-radius: 5px;
    width: 85%;
}
.card_2{
    box-shadow: rgb(177,174,174) 0px 0px 5px 1px;
    padding: 10px 0px;
    margin: 500px 5px;
    border-radius: 5px;
}
.common-heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
}

.common-heading-left h1{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}
.common-heading-left span{
    font-size: 17px;
    font-weight: 200;
    color: rgb(170,176,171);
}

.common-heading-right button{
    width: 90px;
    height: 40px;
    font-size: 18px;
    background-color: #2874f0;
    border: none;
    color: white;
    border-radius: 2px;
    margin-top: 10px;
}

.common-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 366px;
    margin: 10px 0px;
}

.common-col{
     text-align: center;
    
}
.common-col img{ 
    height: 200px;
    width: 150px;
    margin-top: 15px;
    transition: 300ms;
}
.common-col img:hover{
    transform:scale(1.05);
}
.common-col h3,h4,h6{
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}
.common-col h3{
    margin-top: 15px;
    font-size: 16px;
}
.common-col h4{
    color: green;
    font-size: 14px;
    font-weight: 300;
}
.common-col h6{
    color: rgb(161,161,161);
    font-size: 12px;
    font-weight: 100;
}

.card_3{
    float: right;
    box-shadow: rgb(177,174,174) 0px 0px 5px 1px;
    padding: 4px 0px;
    margin: 10px 5px;
    border-radius: 5px;
    width: 13.5%;
}
.common-row-ad img{
    height: 455px;
    width: 250px;
    margin: 5px;
    cursor: pointer;
}
